dist
local
.\#*
*.o
*.hi
*.swp

.hpc
hpc

benchmarks/HtmlBenchmarks
benchmarks/BigTableServer

tests/TestSuite

doc/examples/BenchmarkServer
doc/examples/SnapBenchmarkServer
doc/examples/SnapFramework

website/_site
website/_cache
website/docs
website/hakyll

Text/Blaze/Html4/FrameSet.hs
Text/Blaze/Html4/FrameSet/Attributes.hs
Text/Blaze/Html4/Strict.hs
Text/Blaze/Html4/Strict/Attributes.hs
Text/Blaze/Html4/Transitional.hs
Text/Blaze/Html4/Transitional/Attributes.hs
Text/Blaze/Html5.hs
Text/Blaze/Html5/Attributes.hs
