dist
local
.\#*
*.o
*.hi
*.swp

TestSuite.tix
.hpc
hpc

notes/

benchmarks/HtmlBenchmarks
benchmarks/BigTableServer

tests/TestSuite

doc/examples/BenchmarkServer
doc/examples/SnapBenchmarkServer
doc/examples/SnapFramework

website/_site
website/_cache
website/docs
website/hakyll

src/Text/Blaze/Html4/FrameSet.hs
src/Text/Blaze/Html4/FrameSet/Attributes.hs
src/Text/Blaze/Html4/Strict.hs
src/Text/Blaze/Html4/Strict/Attributes.hs
src/Text/Blaze/Html4/Transitional.hs
src/Text/Blaze/Html4/Transitional/Attributes.hs
src/Text/Blaze/Html5.hs
src/Text/Blaze/Html5/Attributes.hs
src/Text/Blaze/XHtml1/FrameSet.hs
src/Text/Blaze/XHtml1/FrameSet/Attributes.hs
src/Text/Blaze/XHtml1/Strict.hs
src/Text/Blaze/XHtml1/Strict/Attributes.hs
src/Text/Blaze/XHtml1/Transitional.hs
src/Text/Blaze/XHtml1/Transitional/Attributes.hs
src/Text/Blaze/XHtml5.hs
src/Text/Blaze/XHtml5/Attributes.hs
