<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>BlazeHtml - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    </head>
    <body>
        <div id="navigation">
            <a href="/" id="logo">BlazeHtml</a>
            <a href="/benchmarks.html" class="menu">benchmarks</a>
            <a href="/docs/index.html" class="menu">docs</a>
            <a href="/about.html" class="menu">about</a>
            <a href="/tutorial.html" class="menu">tutorial</a>
            <a href="/" class="menu">home</a>
        </div>
        <div id="content">
            $body$
        </div>
        <div id="footer">
        </div>
    </body>
</html>
