<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>BlazeHtml - $title</title>
        <link rel="stylesheet" type="text/css" href="$root/css/default.css" />
        <link rel="stylesheet" type="text/css" href="$root/css/syntax.css" />
    </head>
    <body>
        <div id="navigation">
            <a href="$root" id="logo">BlazeHtml</a>
            <a href="$root/benchmarks.html" class="menu">benchmarks</a>
            <a href="$root/about.html" class="menu">about</a>
            <a href="$root/tutorial.html" class="menu">tutorial</a>
            <a href="$root" class="menu">home</a>
        </div>
        <div id="header">
            <div class="column">$column1</div>
            <div class="column">$column2</div>
        </div>
        <div id="content">
            $body
        </div>
        <div id="footer">
        </div>
    </body>
</html>
