html {
    background: white url("../images/header.png") no-repeat center top;
    margin: 0px 0px 0px 0px;
    font-family: sans-serif;
    font-size: 16px;
}

body {
    width: 740px;
    margin: 0px auto 100px auto;
    padding: 0px 0px 0px 0px;
}

#navigation {
    padding: 5px 40px 0px 40px;
    height: 65px;
}

#navigation a {
    color: white;
    text-decoration: none;
}

#navigation a:hover {
    color: #c5c4ec;
    border-bottom: dashed 2px #c5c4ec;
}

#navigation a#logo {
    font-size: 28px;
}

#navigation a.menu {
    float: right;
    padding-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
}

#header {
    height: 320px;
    color: #4a4a4a;
    font-size: 20px;
    padding: 0px 40px 0px 40px;
}

#header img {
    float: right;
    margin: 0px 0px 20px 20px;
}

#footer {
    color: #4a4a4a;
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
    padding-top: 10px;
    border-top: dashed 1px #4a4a4a;
}
