html {
    margin: 0px 0px 0px 0px;
    font-family: 'Futura', 'Lucida Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    color: #4a4a4a;
}

body {
    width: 760px;
    margin: 0px auto 100px auto;
    padding: 0px 0px 0px 0px;
}

a {
    text-decoration: none;
    color: #65648c;
    border-bottom: 1px dashed #65648c;
}

ul {
    list-style-type: square;
}

h1 {
    font-size: 22px;
    font-weight: normal;
    padding-top: 10px;
}

code {
    color: #000000;
    font-family: 'Inconsolata', 'Courier', 'Courier New', monospace;
    font-size: 16px;
}

pre code {
    display: block;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px dashed #bbbbbb;
}

img {
    margin: 0px auto 0px auto;
    display: block;
}

#navigation {
    background: white url("../images/header.png") no-repeat center top;
    padding: 5px 50px 0px 50px;
    height: 65px;
}

#navigation a {
    color: white;
    text-decoration: none;
    border: none;
}

#navigation a:hover {
    color: #c5c4ec;
}

#navigation a#logo {
    font-size: 28px;
}

#navigation a.menu {
    float: right;
    padding-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
}

#fold {
    border-bottom: 1px solid #bbbbbb;
}

#footer {
    color: #4a4a4a;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.caption {
    display: none;
}
